<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "FCI FYP 3.0" %> [TSE2251 Proto]</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="fyp_system">
    <%= yield %>
  </body>
</html>
